.header{
    height: 5rem;
    background: rgba(0,0,0,0.5);
    color: white;
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-evenly;

    &_container{
        &-links{
            display: flex;
            margin: 1rem 2rem;
            padding: 1rem 2rem;
        }

        &-button{
            display: flex;
            margin: 2rem 2rem;
            padding: 1rem 1rem;

        }
    }
    

    &_logo{
        height: 2rem;
    }

    &_links{
        display: flex;
        margin: 1rem 0;
        list-style: none;
        text-decoration: none;
        font-size: .875rem;
        font-weight: 800;

        &-line{
            margin: 0 1rem;
            color: white;
        }
    }

    &_button{
        color: white;
        margin: 1rem 0 0 0;
        
        &-icon{
            color: white;
        }    
        &-link{
            color: white;
            text-decoration: none;
            cursor: pointer;
        }

    }
}